In [35]:
import pandas as pd
import numpy as np

In [3]:
# You can find this prolem using this link 
# https://www.kaggle.com/code/icarofreire/pandas-24-useful-exercises-with-solutions

In [4]:
list1 = list ("homeland")
arr1 = np.arange(1,10)
dict1 = {"A" : 0,"B" : 1,"C": 2,"D": 3, "E": 5}

In [7]:
series1 = pd.Series(list1)
series1

0    h
1    o
2    m
3    e
4    l
5    a
6    n
7    d
dtype: object

In [12]:
series2 = pd.Series(arr1, index=["col1","col2","col3","col4","col5","col6","col7","col8","col9"])
series2

col1    1
col2    2
col3    3
col4    4
col5    5
col6    6
col7    7
col8    8
col9    9
dtype: int64

In [14]:
series3 = pd.Series(dict1)
series3

A    0
B    1
C    2
D    3
E    5
dtype: int64

In [17]:
ser1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [27]:
ser_df = pd.DataFrame(ser1,ser2).reset_index()
ser_df.head()

   index  0
0      0  a
1      1  b
2      2  c
3      3  d
4      4  e

In [23]:
ser1.head()
ser_df = pd.DataFrame({"col1": ser1,"col2":ser2})
ser_df.head(5)

  col1  col2
0    a     0
1    b     1
2    c     2
3    d     3
4    e     4

In [38]:
ser3 = pd.Series([1,2,3,4,5,6,7])
ser4 = pd.Series([3,4,5,6,7,8,9])
ser4

0    3
1    4
2    5
3    6
4    7
5    8
6    9
dtype: int64

In [30]:
ser3[~ser3.isin(ser4)]

0    1
1    2
dtype: int64

In [31]:
ser4[~ser4.isin(ser3)]

5    8
6    9
dtype: int64

In [39]:
ser3_not_ser4 = ser3[~ser4.isin(ser3)]
ser4_not_ser3 = ser4[~ser3.isin(ser3)]
ser3_not_ser4.concat(ser4_not_ser3, ignore_index =True)

AttributeError: 'Series' object has no attribute 'concat'